*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./images/ChatGPT\ Image\ Mar\ 17\,\ 2026\,\ 03_16_14\ PM.png');
    background-attachment: fixed;
    background-size: cover;
}



